
.contenedor{
    background-color: #999999;
}
.login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    background-color: white;
    font-size: 1.2rem;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
}
.login p{
    background-color: rgb(235, 67, 67);
    color: white;
    font-size: 1.5rem;
    padding: 10px 0 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.campos{
    padding: 10px 0 20px 30px;
    display: block;
    justify-content: center;
}
.campos input{
    background-color: #999999;
    color: #666666;
    border: none;
}
.boton{
    text-align: center;
    
}
.boton input{
    background-color: rgb(36, 184, 43);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}
